* {
    font-family: Helvetica, Verdana, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

img { /*resize all images */
    height: 150px;
}

#gamebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    flex: 1 1 500px;
    max-width: 1000px;
    gap: 10px;
 
}

.score-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid red;
    flex: 1 1 0;
    width: 60%;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid green;
    gap: 10px;
}

.button-row {
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    min-width: 40%;
    flex: 1 1 0;
    border: solid green;
  
    
}

button {
    border-radius: 15px;
    background-color: black;
    color: white;

    border: white;
    width: 100px;
    
}






